/* ------------------------------------------------- */
/* Main styles                                       */
/* ------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
 }
 
 body {
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Lato', sans-serif;
 } 

 .title {
     text-transform: uppercase;
     color: #BCBBBB;
     text-align: right;
 }
 .container {
    width: 800px;
    max-width: 800px;
    margin: auto;
    font-family: Text, sans-serif;
 }
 
 header {
    display: flex;
 }
 
 .logo {
    flex: 1;
 }
 .items-container {
    display: flex;
    justify-content: space-between;
 }

 .item {
    text-align: center;
 }
 .title>h1 {
    font-family: "Main title", sans-serif;
    font-size: 2.5rem;
    color: #bcbbbb;
    padding-top: 0.5rem;
    font-weight: 100;
}

.title>h3 {
    font-size: small;
}

h2{
    font-size: 1.6rem;
    font-weight: bold;
    color: #bcbbbb;  
}

.item>h3{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #747704; 
}

.item>a{
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    color: #BCBBBB; 
}

hr {
    border: thin solid #bcbbbb;
    margin-bottom: 1.5rem;
}

h2{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

body {
    padding: 1rem;
}
 
img{
    max-width: 100%;
    width: 100%;
}

hr{
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: #BCBBBB;
    border-width: 3px;
    text-align: center;
}

.col-12{
    margin-bottom: -40px


}
.image {
    margin-top: -15px;
}

